@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.primary-font{
    font-family: "Manrope", sans-serif;
}

/* shared style */
.paragraph{
    font-size: 1.25rem;
    color: #777777;
}

/* shared style end */
.banner{
    justify-content: space-between;
}
.banner-btn button{
    cursor: pointer;
}

/* .banner-context{
    width: 50%;
} */